.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}


input {
  display: flex;
}

button {
    display: block;
    margin: 8px 0;
  }


li {
  display: flex;
  flex-direction: column;
}

section {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

